<section id="news" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">News</h2>
                <h3 class="section-subheading text-muted">Regular updates from our groups.</h3>
            </div>
        </div>

<ul>
    <li>October 10, 2023 -- Our paper "Is the Answer in the Text? Challenging ChatGPT with Evidence Retrieval from Instructive Text" has been accepted to the Findings of EMNLP 2023. Congrats to the team, Sophie, Talita, and Wei!
        Our paper "MuLMS: A Multi-Layer Annotated Text Corpus for Information Extraction in the Materials Science Domain" has been accepted to The 2nd Workshop on Information Extraction from Scientific Publications which will take place at IJCNLP-AACL 2023.
        Congrats, Timo, Matteo, and Stefan!
    </li>
    <li>October 4-5, 2023 -- Our Human Language Technology @ Augsburg Kickoff Workshop took place at Augsburg University.</li>
    <li>July 2023 -- <a href="https://aclanthology.org/2023.codi-1.1/">Paper</a> on argumentative zoning in the materials science domain accepted to CODI@ ACL 2023. Congrats, Timo and Sophie!</li>
</ul>
    </div>
</section>